body{
    background-color: grey;
}
.game{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: thistle;
    border: 2px solid black;
    height: auto;
    width: 90%;
    margin: auto;
    
}
.box{
    margin: 5px;
    padding: 5px;
    width: 14rem;
    height: 11rem;
    cursor: pointer;
    background-color: black;
    border: 3px outset goldenrod;
}